.BlogContainer{
    margin: 0 auto;
    background-color: #F4F3F6;
   border-radius: 1rem;
    padding: 2rem 1rem;
}
.BlogContainer p{
    text-align: left;
    margin-bottom: 1rem;
}
.BlogCard{
    color: bisque;
    padding: 1rem 2rem;
    background-color: #fff;
    width: 33.1rem;
    height: 19.2rem;
    border-radius: 2rem;

}
.CardList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
}
.CardText{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.CardText h3{
    color: #77737F;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}
.CardText p{
    color: #77737F;
font-size: 1.6rem;
font-weight: 600;
line-height: 1.878rem;
}
.IconsTop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.Trend{
color: #9893A3;
width: 1.6rem;
height: 1.1rem;
}
.Pencil{
    width: 2rem;
    height: 2rem;
    color: #EA7E00;
}