.ButtonContainer {
    /* width: 20.5rem; */
    /* height: 4rem; */
    letter-spacing: 0.5px;
    /* padding: 1.5rem 2.5rem 1.5rem 2.5rem; */
    font-size: 1rem;
    /* background-color: black; */
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    
  }
  
  .ButtonContainer:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .ButtonContainer.GoogleSignIn {
    background-color: #c92a2a;
    color: white;
  }
  
  .ButtonContainer.GoogleSignIn:hover {
    background-color: rgba(201, 42, 42, 0.811);
    border: none;
  }
.CreateContent{
background-color: #754DE8;
padding: 1.1rem, 4.8rem, 1.1rem, 4.8rem;
width: 18.9rem;
height: 4rem;
color: #fff;
font-size: 1.3rem;
font-weight: 500;
border-radius: 1.8rem;
}
.StartContent{
  border: .2rem solid #754DE8 ;
  padding: 1.3rem, 4.8rem, 1.3rem, 4.8rem;
gap: 1rem;
  background-color: #fff;
  color: #754DE8;
  font-size: 1.2rem;
  font-weight: 500;
  width: 20.1rem;
  height: 4.8rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}