.SearchContainer {
    display: flex;
    align-items: center;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    /* max-width: 100%; */
    padding: .5rem 1rem .5rem 1rem;
    background-color: #fff;
    width: 55rem;
  }
  
  input[type="search"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  span {
    padding: 5px;
    cursor: pointer;
  }
  .IconRightContainer{
    /* justify-self: end; */
    color: #999;
    align-self: center;
    justify-self: end;
  }