.NavBar,
section,
.Main
 {
  padding: 2.4rem;
}
.container{
    display: grid;
    /* grid-template-columns: 80px 400px 1fr 250px; */
    grid-template-columns: 8rem 1fr; 
    grid-template-rows: 8rem 1fr;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}

button {
  font-size: 1.6rem;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: .5rem 1.2rem;
  font-weight: bold;
  display: inline-block;
}
button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}


  .Section {
    background-color: #e9ecef;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* overflow: scroll; */
  }

